#root {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  cursor: default;

  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
  }
}

hr {
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-500);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-600);
}

.content {
  height: 100%;
  background: linear-gradient(217deg, var(--color-red-100), rgba(255, 0, 0, 0) 70%),
    linear-gradient(127deg, var(--color-blue-100), rgba(0, 0, 255, 0) 70%),
    linear-gradient(336deg, var(--color-cyan-100), rgba(0, 255, 0, 0) 70%);
  padding: 10px;
  overflow: auto;
}

.ant-select {
  min-width: 100px;
}

.ant-input {
  min-width: 90px;
}

.ant-color-picker-trigger {
  min-width: 90px !important;
}

.ant-modal-body {
  max-height: 65vh !important;
  overflow-y: auto !important;
}