/**
 * The styles in this file are only structural for toolbar,
 * all the design should be added to the default theme css.
 */
body {
  overflow: hidden;
  cursor: default;
  background: transparent;
  width: 100vw;
  height: 100vh;
}

.fancy-toolbar {
  width: 100vw;
  line-height: 1em;

  .ft-bar {
    position: relative;
    width: 100%;
    height: var(--config-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ft-bar-left,
    .ft-bar-center,
    .ft-bar-right {
      z-index: 1;
      display: flex;
      align-items: stretch;
      height: min-content;
      gap: 6px;
    }

    .ft-bar-left {
      width: 50%;
      overflow: hidden;
      justify-content: flex-start;
      padding-left: var(--config-padding-at-side);
    }

    .ft-bar-center {
      z-index: 2;
      position: absolute;
      padding: 0 5%;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      overflow: hidden;
      justify-content: center;
    }

    .ft-bar-right {
      width: 50%;
      overflow: hidden;
      justify-content: flex-end;
      padding-right: var(--config-padding-at-side);
    }
  }
}

.ft-bar-item-tooltip {
  top: calc(var(--config-height) + 4px) !important; /* Override inline style */
}

.ft-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;

  &.ft-bar-item-clickable {
    padding: 4px;
    border-radius: 6px;

    &:hover {
      backdrop-filter: brightness(3);
    }
  }

  .ft-bar-item-content {
    display: flex;
    align-items: center;
    width: 100%;

    > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
    }

    &.workspaces {
      gap: 12px;
      margin: 0 4px;

      .workspace-dot {
        width: 6px;
        height: 6px;
        border-radius: 3px;

        &.workspace-dot-active {
          width: 18px;
        }
      }
    }
  }
}

.tray {
  position: relative;
  width: 250px;

  .tray-list {
    position: relative;
    z-index: 1;

    .tray-item-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.fast-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;

  .fast-settings-title {
    z-index: 1;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .fast-settings-item-title-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px;
      border-radius: 6px;

      &:hover {
        backdrop-filter: brightness(0.8);
      }
    }
  }

  .fast-settings-item {
    z-index: 1;
    display: flex;
    gap: 6px;
    align-items: center;

    .ant-slider {
      flex: 1;
    }
  }

  .fast-settings-power {
    display: flex;
    gap: 6px;

    > .fast-settings-item-button {
      flex: 1;
    }
  }

  .fast-settings-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
  }
}
