.monitors {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .monitor {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .border {
      --padding: 6px;

      background-color: black;
      border-radius: 12px;
      display: grid;
      place-items: center;
      padding: var(--padding);
      height: calc(144px + var(--padding));
      width: calc(256px + var(--padding));

      .screen {
        border-radius: 8px;
        background: linear-gradient(
          40deg,
          var(--color-blue-500) 2%,
          var(--color-blue-300) 60%,
          var(--color-blue-100) 100%
        );
        width: 100%;
        height: 100%;
        display: flex;
      }
    }

    > button {
      flex: 2;

      &.advancedTrigger {
        flex: 1;
      }
    }
  }

  .config {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;

    .title {
      font-weight: 600;
      text-align: center;
      font-size: 0.8rem;
      margin-bottom: 10px;
    }

    .workspaceSelector {
      width: 100%;
    }
  }
}

.advancedModal {
  padding-right: 10px;
}
