body {
  background-color: transparent !important;
  overflow: hidden;
}

@keyframes loader-slide {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(450%);
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

.popup {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-wrap: anywhere;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff9;
    padding: 6px 6px 6px 10px;
    font-weight: 600;
    app-region: drag;

    button {
      app-region: no-drag;
    }

    .header-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .header-close {
      padding: 4px;
      border-radius: 4px;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &:hover {
        background-color: var(--color-red-900);
        color: var(--color-gray-200);
      }
    }
  }

  .content {
    width: 100%;
    padding: 12px 16px;
    overflow: auto;
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 8px;
  }

  .group {
    display: flex;
    gap: 10px;
  }

  .loader {
    width: 100%;
    height: 3px;
    background-color: var(--color-gray-200);
    overflow: hidden;
    border-radius: 2px;

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, transparent, var(--system-accent-color), transparent);
      animation: loader-slide 1.5s ease-in-out infinite;
    }
  }

  .button {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 8px;

    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    font-size: 0.9rem;
    line-height: 1.2em;

    background-color: var(--slu-std-ui-color);
    color: var(--color-gray-900);

    &:hover {
      background-color: var(--slu-std-ui-hover-color);
    }
  }
}
