cargo-features = ["profile-rustflags", "codegen-backend"]

[profile.dev]
debug = "full"
strip = "symbols"
incremental = true
rustflags = ["-Z", "threads=8", "-C", "link-arg=-fuse-ld=lld"]

[profile.release]
debug = "limited"
strip = "symbols"
opt-level = "z"
lto = true
codegen-units = 1
rustflags = ["-Z", "threads=8", "-C", "link-arg=-fuse-ld=lld"]

[workspace]
members = ["libs/slu-ipc", "libs/positioning", "libs/core", "src", "src/hook_dll"]
resolver = "3"
lints = {}

[workspace.dependencies]
tokio = "1.47.0"
thiserror = "2.0.12"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9.34"
log = "0.4"
arc-swap = "1.7.1"
backtrace = "0.3.71"
base64 = "0.22.1"
battery = "0.7.8"
clap = "4.5.4"
crossbeam-channel = "0.5.15"
discord-rich-presence = "0.2.5"
encoding_rs = "0.8.35"
evalexpr = "=11.3.0"
fern = "0.7.1"
image = "0.25.5"
interprocess = "2.2.3"
itertools = "0.12.1"
lazy_static = "1.4.0"
notify-debouncer-full = "0.3.1"
os_info = "3.9.2"
owo-colors = "4.1.0"
parking_lot = "0.12.1"
phf = "0.11.2"
quick-xml = "0.37.2"
rand = "0.9.1"
regex = "1.11.1"
reqwest = "0.12.15"
rust-i18n = "3.1.4"
seelen-core = { path = "libs/core" }
slu-ipc = { path = "libs/slu-ipc" }
positioning = { path = "libs/positioning" }
sysinfo = "0.30.12"
tauri = "2.8.3"
tauri-build = "2.4.0"
tauri-plugin-autostart = "2.5.0"
tauri-plugin-deep-link = "2.4.2"
tauri-plugin-dialog = "2.3.3"
tauri-plugin-fs = "2.4.2"
tauri-plugin-http = "2.5.2"
tauri-plugin-log = "2.6.0"
tauri-plugin-process = "2.3.0"
tauri-plugin-shell = "2.3.0"
tauri-plugin-updater = "2.9.0"
translators = "0.1.5"
url = "2.5.4"
urlencoding = "2.1.3"
uuid = "1.8.0"
widestring = "1.0.2"
win-hotkeys = { git = "https://github.com/Seelen-Inc/windows-keyboard-hook.git" }
win-screenshot = "4.0.8"
windows = "0.59.0"
windows-core = "0.59.0"
winreg = "0.55.0"
time = "0.3.41"
scc = "2.4.0"
