.container {
  height: 100%;
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--spacing-s);
}

.box {
  width: 100%;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr;
  background-color: #0001;
  border-radius: 8px;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff5;
    font-weight: 600;
  }

  .list {
    padding: var(--spacing-s);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    overflow-y: auto;
  }
}

.item {
  padding: var(--spacing-xs);
  border-radius: var(--config-border-radius);
  background-color: var(--color-white);
  cursor: grab;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
