#root {
  width: min-content;
  margin: var(--config-margin);

  .ant-popover {
    .ant-popover-inner {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }
  }

  .ant-dropdown-menu-submenu,
  .ant-dropdown-menu,
  .ant-menu {
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .ant-menu-item,
    .ant-dropdown-menu-item {
      padding: 10px;
      height: min-content;
      width: 100%;
      line-height: 12px;
      margin: 0;
      border-radius: 8px;
    }

    .ant-menu-item:not(.ant-menu-item-danger),
    .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-danger) {
      color: inherit;

      &:hover {
        backdrop-filter: brightness(0.6);
      }
    }

    .ant-menu-item-divider,
    .ant-dropdown-menu-item-divider {
      backdrop-filter: brightness(0.85);
    }

    .ant-dropdown-menu-submenu-title {
      color: inherit;
    }
  }
}

body {
  overflow: hidden;
  cursor: default;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;

  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
  }
}
