#root {
  width: min-content;

  .ant-popover {
    .ant-popover-inner {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }
  }  
}

body {
  overflow: hidden;
  cursor: default;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;

  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
  }
}