/**
 * The styles in this file are only structural for Seelenweg,
 * all the design should be added to the default theme css.
 */
body {
  overflow: hidden;
  cursor: default;
  background: transparent;
  display: flex;
  justify-content: var(--config-by-position-justify-content);
  align-items: var(--config-by-position-align-items);
  width: 100vw;
  height: 100vh;
}

/** Root Styles */
#root {
  height: min-content;
  width: min-content;
  transition: transform 0.2s ease-in-out;

  &:not(:hover) {
    &:has(.taskbar.hidden.left) {
      transform: translateX(calc(-100% + 1px));
      border-right: 1px solid transparent;
    }

    &:has(.taskbar.hidden.right) {
      transform: translateX(calc(100% - 1px));
      border-left: 1px solid transparent;
    }

    &:has(.taskbar.hidden.top) {
      transform: translateY(calc(-100% + 1px));
      border-bottom: 1px solid transparent;
    }

    &:has(.taskbar.hidden.bottom) {
      transform: translateY(calc(100% - 1px));
      border-top: 1px solid transparent;
    }
  }
}

/** Taskbar Styles */
.taskbar {
  position: relative;
  overflow: visible;
  padding: var(--config-padding);
  margin: var(--config-margin);
  display: flex;
  justify-content: var(--config-by-position-justify-content);
  align-items: var(--config-by-position-align-items);
  flex-direction: var(--config-by-position-flex-direction);
  gap: var(--config-space-between-items);

  &.horizontal {
    height: calc(var(--config-item-size) + var(--config-padding) * 2);
    width: min-content;

    &.full-width {
      width: calc(100vw - var(--config-margin) * 2);
    }
  }

  &.vertical {
    width: calc(var(--config-item-size) + var(--config-padding) * 2);
    height: min-content;

    &.full-width {
      height: calc(100vh - var(--config-margin) * 2);
    }
  }

  .weg-separator {
    z-index: 1 !important; /* Override inline style */

    &:nth-child(2),
    &:last-child,
    &:not(.visible) {
      opacity: 0;
    }

    .vertical & {
      width: 100%;

      /* first child always is the background */
      &:nth-child(2) {
        margin-top: calc(var(--config-space-between-items) * -1);
      }

      &:last-child {
        margin-bottom: calc(var(--config-space-between-items) * -1);
      }
    }

    .horizontal & {
      height: 100%;

      /* first child always is the background */
      &:nth-child(2) {
        margin-left: calc(var(--config-space-between-items) * -1);
      }

      &:last-child {
        margin-right: calc(var(--config-space-between-items) * -1);
      }
    }
  }

  .weg-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .weg-item-open-sign {
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: var(--color-gray-600);
      opacity: 0;

      &.weg-item-open-sign-active {
        opacity: 1;
      }

      &.weg-item-open-sign-focused {
        background-color: var(--config-accent-color);
      }

      .vertical & {
        transform: translateX(-50%);
      }

      .horizontal & {
        transform: translateY(-50%);
      }

      .top & {
        bottom: calc(100% + var(--config-padding) / 2);
      }

      .bottom & {
        top: calc(100% + var(--config-padding) / 2);
      }

      .left & {
        right: calc(100% + var(--config-padding) / 2);
      }

      .right & {
        left: calc(100% + var(--config-padding) / 2);
      }
    }
  }
}

.weg-item-preview-container {
  position: relative;
  display: flex;
  max-width: 100vw;
  overflow-x: auto;
  gap: var(--config-space-between-items);

  &::-webkit-scrollbar {
    display: none;
  }

  .weg-item-preview {
    z-index: 1;

    &:hover {
      filter: brightness(0.95);
      backdrop-filter: brightness(0.95);
    }

    .weg-item-preview-topbar {
      display: flex;
      width: 240px;
      justify-content: space-between;
      gap: 10px;

      .weg-item-preview-title {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        flex: 1;
      }

      .weg-item-preview-close {
        border-radius: 6px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 5px;

        &:hover {
          background-color: #0000005c;
        }
      }
    }

    .weg-item-preview-image-container {
      width: 240px;
      height: calc(240px / 1.77);
      display: flex;
      justify-content: center;
      align-items: center;

      .weg-item-preview-image {
        max-height: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
  }
}
