:root {
  --config-padding: 0px;
  --config-margin: 0px;

  --config-item-size: 0px;
  --config-item-zoom-size: 0px;
  --config-space-between-items: 0px;

  --config-by-position-justify-content: center;
  --config-by-position-align-items: flex-end;
  --config-by-position-flex-direction: row;
}
