.Header {
  -webkit-app-region: drag;
  user-select: none;

  height: 100%;
  border-bottom: 1px solid var(--color-gray-200);
  font-weight: 600;
  padding: 0 10px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .info {
    -webkit-app-region: no-drag;
  }

  button {
    -webkit-app-region: no-drag;
    width: 60px;
  }
}