.navigation {
  grid-row: 1/3;

  display: grid;
  grid-template-rows: 50px 1fr min-content;
  grid-template-columns: 1fr;

  width: 12rem;
  overflow: hidden;
  transition: width 300ms ease;
  background-color: var(--color-fixed-gray-900);
  color: var(--color-fixed-gray-50);

  &.collapsed {
    width: 44px;
  }

  .header {
    height: 100%;
    padding: 0 var(--spacing-xs);

    display: flex;
    gap: var(--spacing-xs);
    align-items: center;

    border-bottom: 1px solid var(--color-fixed-gray-700);

    > img {
      width: min(28px, 100%);
      aspect-ratio: 1/1;
      transition: width 100ms linear;
    }

    > h1 {
      font-size: 1.2rem;
      font-weight: 600;
      flex: 1;
      text-wrap: nowrap;

      .collapsed & {
        display: none;
      }
    }

    .chevron {
      .collapsed & {
        display: none;
      }
    }
  }

  .body {
    width: 100%;
    padding: var(--spacing-s) var(--spacing-xs);
    padding-left: calc(var(--spacing-xs) - 3px);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);

    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      width: 3px;
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    direction: ltr;
  }

  .separator {
    width: 100%;
    height: 1px;
    min-height: 1px;
    background-color: var(--color-fixed-gray-700);
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);

    padding: var(--spacing-xs);
    border-top: 1px solid var(--color-fixed-gray-700);
  }
}

.item {
  height: 30px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-2xs);

  overflow: hidden;
  padding: 0 var(--spacing-2xs);
  border-radius: 0.5rem;
  transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--system-accent-dark-color);
  }

  &.active {
    background-color: var(--system-accent-color);
  }

  :global(.slu-icon) {
    width: 20px;
    min-width: 20px;
  }

  .label {
    text-wrap: nowrap;
    font-size: 0.8rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;

    .collapsed & {
      display: none;
    }
  }
}

.sessionItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-xs);

  padding: var(--spacing-2xs);
  border-radius: 0.5rem;
  transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--system-accent-dark-color);
  }

  &.active {
    background-color: var(--system-accent-color);
  }

  .sessionInfo {
    display: flex;
    flex-direction: column;

    .collapsed & {
      display: none;
    }

    .label,
    .email {
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }

    .label {
      font-size: 0.8rem;
      line-height: 1em;
      font-weight: 600;
    }

    .email {
      font-size: 0.7rem;
      line-height: 1em;
      color: var(--color-fixed-gray-200);
    }
  }

  .sessionAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: min(28px, 100%);
    aspect-ratio: 1/1;
    border-radius: 50%;

    background: var(--system-accent-lightest-color);
    color: var(--system-accent-dark-color);
  }
}
