.note {
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: 0 4px 4px 0;
  font-size: 0.8rem;
  line-height: 1.5;

  border-left: 3px solid var(--color-gray-400);
  background-color: var(--color-gray-50);
  color: var(--color-gray-800);
}

.info {
  border-left: 3px solid var(--color-blue-400);
  background-color: var(--color-blue-50);
  color: var(--color-blue-800);
}

.warning {
  border-left: 3px solid var(--color-yellow-400);
  background-color: var(--color-yellow-50);
  color: var(--color-yellow-800);
}

.error {
  border-left: 3px solid var(--color-red-400);
  background-color: var(--color-red-50);
  color: var(--color-red-800);
}
