
.roulette {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 100px solid var(--color-blue-600);

  .drag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
  }
}