.wm-leaf {
  &.wm-leaf-with-borders {
    border-style: solid;
    border-width: var(--config-border-width);
    border-color: var(--config-accent-dark-color);

    &.wm-leaf-focused {
      border-color: var(--config-accent-lighter-color);
    }
  }
}

.wm-stack {
  .wm-stack-bar {
    background-color: #222222;
    color: #fefefe;

    &.wm-stack-bar-with-borders {
      border-style: solid;
      border-width: var(--config-border-width);
      border-color: var(--config-accent-dark-color);
    }
  }
}

.wm-reserved {
  background-color: var(--color-accent-lighter-color);
}
