.taskbar {
  .taskbar-bg-layer-1 {
    opacity: 0.3;
    filter: saturate(0);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='3' stitchTiles='stitch '/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: cover;
    border-radius: 15px;
  }

  .taskbar-bg-layer-2 {
    opacity: 0.8;
    background-color: var(--color-gray-100);
    border-radius: 15px;
  }
}

.weg-separator {
  .horizontal & {
    &.weg-separator-1 {
      border-left: 1px solid var(--color-gray-400);
    }
    &.weg-separator-2 {
      border-right: 1px solid var(--color-gray-400);
    }
  }

  .vertical & {
    &.weg-separator-1 {
      border-top: 1px solid var(--color-gray-400);
    }
    &.weg-separator-2 {
      border-bottom: 1px solid var(--color-gray-400);
    }
  }
}

.weg-item {
  .item-bg-layer-1 {
    background-color: var(--color-gray-100);
    border-radius: 25%;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    .item-bg-layer-1 {
      background-color: var(--color-gray-400);
    }
  }

  &:active {
    filter: brightness(0.4);
  }

  &:not(:active) {
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
}

.weg-item-icon {
  width: 65%;
  height: 65%;
  filter: drop-shadow(0px 0px 1px #0000009a);
  object-fit: contain;
}

.weg-item-icon-start {
  width: 100%;
  height: 100%;
  filter: brightness(1.2);
  background: linear-gradient(150deg, var(--config-accent-color) 10%, #000 150%);
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="100%" height="100%" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><mask id="mask"><rect width="100%" height="100%" fill="%23000"/><rect width="45%" height="45%" rx="12%" ry="12%" fill="%23fff"/><rect y="55%" width="45%" height="45%" rx="12%" ry="12%" fill="%23fff"/><rect x="55%" width="45%" height="45%" rx="12%" ry="12%" fill="%23fff"/><rect x="55%" y="55%" width="45%" height="45%" rx="12%" ry="12%" fill="%23fff"/></mask><rect width="100%" height="100%" mask="url(%23mask)" fill="%23fff"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.weg-item-open-sign {
  transition-property: width, height, opacity, background-color, border-radius;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  border-radius: 4px;

  &.weg-item-open-sign-active {
    --empty-rule: "delete me on use";
  }

  &.weg-item-open-sign-focused {
    .vertical & {
      height: 50%;
    }

    .horizontal & {
      width: 50%;
    }
  }
}

.weg-context-menu-container {
  padding: 6px;

  .menu-bg-layer-1 {
    background-color: var(--color-gray-100);
    border-radius: 10px;
  }

  .weg-context-menu {
    --empty-rule: "delete me on use";
  }
}

.weg-item-preview-container {
  padding: 10px;
  border-radius: 10px;

  .preview-bg-layer-1 {
    background-color: var(--color-gray-100);
    border-radius: 10px;
  }
}

.weg-item-preview {
  padding: 6px 10px 10px 10px;
  border-radius: 10px;
}

.weg-item-preview-topbar {
  margin: 0 0 8px 0;
}

.weg-item-preview-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-gray-900);
}

.weg-item-preview-close {
  --empty-rule: "delete me on use";
}

.weg-item-preview-image-container {
  border-radius: 10px;
  border: 1px solid var(--color-gray-300);
}

.weg-item-preview-image {
  --empty-rule: "delete me on use";
}

.weg-item-preview-spin {
  --empty-rule: "delete me on use";
}
