*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

#root {
  padding: 16px;
  padding-bottom: 90px;
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  /* border: 3px solid red; */
}