.kindSelector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  width: 100%;
  height: 100%;

  .kind {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--color-gray-300);
    border-radius: 8px;

    &:hover {
      background-color: var(--color-blue-100);
      border: 2px solid var(--color-blue-400);
      color: var(--color-blue-800);
    }

    .kindIcon {
      height: 25%;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .reorderGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    padding: 10px;
    border-radius: 18px;
    gap: 10px;
    background-color: var(--color-gray-50);
    cursor: grab;

    &.warn {
      border: 1px solid var(--color-yellow-400);
    }

    &.danger {
      background-color: var(--color-red-200);
      border: 1px solid var(--color-red-900);
      color: var(--color-red-1200);
    }

    .portrait {
      background-color: var(--color-gray-200);
      border-radius: 8px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      > img {
        border-radius: 8px;
      }

      .kindIcon {
        height: 50%;
      }

      .warning,
      .danger {
        position: absolute;
        bottom: 8px;
        right: 8px;
        height: 20px;
      }

      .warning {
        color: var(--color-yellow-400);
      }

      .danger {
        color: var(--color-red-900);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;
      overflow: hidden;

      > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a {
        color: var(--color-blue-800);
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
    }
  }
}
