.info {
  a {
    color: var(--color-blue-600);
    &:hover {
      color: var(--color-blue-800);
    }
  }

  .version {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-black);
  }
}