#root {
  font-size: 0.8rem;
  font-weight: 500;
}

.ft-bar {
  color: var(--color-fixed-gray-100);
  transition: color 0.2s linear;

  > .bg-layers {
    // we skip the first layer, to avoid break user themes, as before v2.2 the first layer was a noise layer
    > .bg-layer-2 {
      background-color: var(--color-fixed-gray-900);
      transition: background-color 0.2s linear;
      will-change: background-color;
    }
  }

  // &[data-there-is-maximized-on-background="true"] {} (this attribute exist but is unused)
  // &[data-focused-is-maximized="true"] {} (this attribute exist but is unused)
  // &[data-focused-is-overlay="true"] {} (this attribute exist but is unused)
}

.ft-bar-item {
  &.ft-bar-item-clickable {
    padding: 1px 4px;
    border-radius: 6px;

    &:hover {
      backdrop-filter: brightness(3);
    }
  }
}

.ft-bar-item-content {
  position: relative;
}

.ft-bar-item-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  background-color: var(--system-accent-color);
  color: #efefef;
  height: 12px;
  min-width: 12px;
  font-size: 10px;
  border-radius: 8px;

  &:empty {
    display: none;
  }
}

// Notifications popup styles moved to notifications-popup.scss

@keyframes text-highlight {
  0% {
    color: var(--color-gray-600);
  }
  66% {
    color: var(--system-accent-color);
  }
  100% {
    color: var(--color-gray-600);
  }
}

.ft-corner-button {
  transition: backdrop-filter 0.2s ease;

  &:hover {
    backdrop-filter: invert(0.2);
  }

  &:active {
    backdrop-filter: invert(0.3);
  }
}
