.task-switcher-overlay {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 5vw;
}

.task-switcher {
  max-width: 100%;
  max-height: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background-color: var(--color-gray-300);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;

  overflow-y: auto;
  overflow-x: hidden;

  .task {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    width: fit-content;
    border-radius: 10px;
    background: var(--color-gray-100);
    width: 260px;

    &:focus {
      outline: 3px solid var(--system-accent-color) !important;
    }

    &:active {
      transform: scale(0.92);
    }

    .task-header {
      width: 100%;
      display: grid;
      grid-template-columns: 20px 1fr min-content;
      align-items: center;

      gap: 0.5rem;
      padding: 0.5rem;
      border-bottom: 1px solid var(--color-gray-300);

      .task-title {
        font-weight: 600;
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .task-preview-container {
      width: 100%;
      height: 150px;
      border-radius: 0 0 10px 10px;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      .task-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }

      .task-no-preview {
        width: 30px;
      }
    }
  }
}
