.system-tray {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .system-tray-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    border-radius: 8px;

    &:hover {
      background-color: var(--system-accent-light-color);
    }

    &:active {
      background-color: var(--system-accent-color);
    }

    .system-tray-item-icon-box {
      .system-tray-item-icon {
        width: 1rem;
        height: 1rem;
        object-fit: contain;
      }
    }

    .system-tray-item-label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      text-align: left;
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
}
