.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.container {
  position: relative;
}