/**
 * The styles in this file are only structural for Seelenweg,
 * all the design should be added to the default theme css.
 */

:root {
  --weg-max-taskbar-width: calc(100vw - var(--config-margin) * 2);
  --weg-max-taskbar-height: calc(100vh - var(--config-margin) * 2);
  --dock-size: calc(var(--config-item-size) + (var(--config-padding) + var(--config-margin)) * 2);
}

body {
  overflow: hidden;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &:has(.taskbar.left) {
    justify-content: flex-start;
  }

  &:has(.taskbar.right) {
    justify-content: flex-end;
  }

  &:has(.taskbar.top) {
    align-items: flex-start;
  }

  &:has(.taskbar.bottom) {
    align-items: flex-end;
  }
}

/** Root Styles */
#root {
  position: relative;
  height: min-content;
  width: min-content;
  max-width: 100vw;
  max-height: 100vh;
  padding: var(--config-margin);

  transition: transform 0.2s ease-in-out;

  &:not(:hover) {
    &:has(.taskbar.hidden.left) {
      transform: translate(calc(var(--dock-size) * -1), 0);
    }

    &:has(.taskbar.hidden.right) {
      transform: translate(var(--dock-size), 0);
    }

    &:has(.taskbar.hidden.top) {
      transform: translate(0, calc(var(--dock-size) * -1));
    }

    &:has(.taskbar.hidden.bottom) {
      transform: translate(0, var(--dock-size));
    }
  }
}

/** Taskbar Styles */
.taskbar {
  position: relative;
  width: min-content;
  height: min-content;

  .weg-items-container {
    position: relative;
    overflow: auto;
    scrollbar-width: none;

    max-width: var(--weg-max-taskbar-width);
    max-height: var(--weg-max-taskbar-height);
    height: 100%;

    padding: var(--config-padding);

    .weg-items {
      display: flex;
      min-width: 100%;
      width: max-content;
    }

    .weg-items-left,
    .weg-items-center,
    .weg-items-right {
      flex: 1 0 0px;
      display: flex;
      gap: var(--config-space-between-items);
    }
  }

  &.horizontal {
    &[data-size="full-width"] {
      width: var(--weg-max-taskbar-width);

      .weg-items-left {
        justify-content: flex-start;
      }

      .weg-items-right {
        justify-content: flex-end;
      }

      .weg-items-center {
        justify-content: center;
      }
    }

    .weg-items {
      flex-direction: row;
      min-width: 100%;
      width: max-content;
      height: var(--config-item-size);
    }

    .weg-items-left,
    .weg-items-center,
    .weg-items-right {
      flex-direction: row;
    }

    .weg-items-container:has(.weg-items-left[data-empty="true"]) {
      .weg-item-drag-container:first-child:has(.weg-separator) {
        margin-right: calc(var(--config-space-between-items) * -1);
      }
    }

    .weg-items-container:has(.weg-items-right[data-empty="true"]) {
      .weg-item-drag-container:last-child:has(.weg-separator) {
        margin-left: calc(var(--config-space-between-items) * -1);
      }
    }
  }

  &.vertical {
    &[data-size="full-width"] {
      height: var(--weg-max-taskbar-height);

      .weg-items-left {
        justify-content: flex-start;
      }

      .weg-items-right {
        justify-content: flex-end;
      }

      .weg-items-center {
        justify-content: center;
      }
    }

    .weg-items {
      flex-direction: column;
      min-height: 100%;
      height: max-content;
      width: var(--config-item-size);
    }

    .weg-items-left,
    .weg-items-center,
    .weg-items-right {
      flex-direction: column;
    }

    .weg-items-container:has(.weg-items-left[data-empty="true"]) {
      .weg-item-drag-container:first-child:has(.weg-separator) {
        margin-bottom: calc(var(--config-space-between-items) * -1);
      }
    }

    .weg-items-container:has(.weg-items-right[data-empty="true"]) {
      .weg-item-drag-container:last-child:has(.weg-separator) {
        margin-top: calc(var(--config-space-between-items) * -1);
      }
    }
  }

  &:has(.weg-item-drag-container.dragging) {
    pointer-events: none;
  }
}
