.title {
  font-size: 1.4rem;
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: var(--spacing-m);
}

.resources {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--spacing-s);

  .resourceSkeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2xs);
    padding: var(--spacing-xs);
    background-color: var(--color-gray-50);
    border-radius: var(--config-border-radius);

    :global(.ant-skeleton):first-child {
      width: 100%;
      aspect-ratio: 1 / 1;

      :global(.ant-skeleton-image) {
        width: 100%;
        height: 100%;
      }
    }
  }

  .resource {
    background-color: var(--color-gray-50);
    overflow-wrap: anywhere;
    box-shadow: 2px 2px 10px 1px #0005;
    border-radius: 8px;

    > img {
      background: var(--color-gray-200);
      aspect-ratio: 1 / 1;
      border-radius: 8px 8px 0 0;
    }

    .text {
      flex: 1;
      text-align: center;
      max-height: 54px;
      padding: var(--spacing-2xs);
      font-weight: 600;
      width: 100%;
      overflow: auto;
    }
  }
}
