.notices {
  width: 100%;
  height: 50vh;
  gap: var(--spacing-s);
  display: grid;
  grid-template-rows: 1fr min-content;

  .notice {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    .image {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: var(--color-gray-300);
    }

    .content {
      z-index: 1;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content;
      padding: var(--spacing-l);
      background: linear-gradient(transparent, #000a 100%);
      color: white;

      .title {
        font-size: 1.4rem;
        font-weight: 600;
      }

      .message {
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        font-size: 0.9rem;
        max-height: 3.6em;
        line-height: 1.8em;
      }

      .linkButton {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  .pagination {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);

    .paginationDot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-gray-400);
      transition: background-color 0.2s ease-in-out;

      &.active {
        background-color: var(--system-accent-color);
      }
    }
  }
}
