*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  border-top: 1px solid #000;

  &.debug-hitbox {
    border-top: 1px solid lime;
    background: red;
  }
}
