.navigation {
  grid-row: 1/3;
  background-color: var(--color-persist-gray-900);
  color: var(--color-persist-gray-50);
  width: 180px;
  transition: width 300ms ease, padding 300ms ease;

  display: grid;
  grid-template-rows: 50px 1fr min-content;
  grid-template-columns: 1fr;

  &.collapsed {
    width: 50px;
  }

  .header {
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--color-persist-gray-700);

    > img {
      width: 24px;
      transition: padding 100ms linear;
    }

    > h1 {
      font-size: 1.2rem;
      font-weight: 600;
      flex: 1;
      text-wrap: nowrap;
    }

    .chevron {
      height: 20px;
      width: 20px;
      padding: 0 2px;
      transition: transform 300ms linear;
    }

    .collapsed & {
      gap: 0;
      justify-content: space-between;

      > h1 {
        display: none;
      }

      > img {
        padding-right: 4px;
      }

      .chevron {
        width: 6px;
        transform: rotate(180deg);
      }
    }
  }

  .body {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
    padding-left: 2px;
    padding: 10px 10px 10px 8px;
    margin-left: 2px;

    &::-webkit-scrollbar {
      width: 2px;
    }
  }

  .footer {
    margin: 0 10px;
    padding: 10px 0;
    border-top: 1px solid var(--color-persist-gray-700);
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    direction: ltr;
  }

  .separator {
    width: 100%;
    height: 1px;
    min-height: 1px;
    background-color: var(--color-persist-gray-700);
  }

  .item {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 5px;
    border-radius: var(--config-border-radius);
    transition: background-color 200ms ease-out;

    &:hover {
      background-color: var(--config-accent-light-color);
    }

    &.active {
      background-color: var(--config-accent-color);
    }

    :global(.slu-icon) {
      width: 20px;
      min-width: 20px;
    }

    .label {
      margin-left: 5px;
      text-wrap: nowrap;
      font-size: 0.8rem;
      font-weight: 600;

      .collapsed & {
        display: none;
      }
    }
  }
}
