.reactIcon {
  height: 1rem;
  > svg {
    vertical-align: middle;
  }
}

/* the layer is to allow these styles to be overridden by themes */
@layer IconBaseStyle {
  .outer {
    position: relative;

    img {
      height: 100%;
      object-fit: contain;
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      mask-mode: luminance;
      background-color: var(--config-accent-light-color);
    }
  }
}
