.group {
  padding: 10px 14px;
  font-size: 0.9rem;
  border-radius: var(--config-border-radius);
  overflow: hidden;
  position: relative;
  flex: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* backdrop-filter: blur(20px); */
    background-color: var(--color-gray-100);
    /* opacity: 0.8; */
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global(.ant-input) {
      max-width: 150px;
    }
  }

  .subgroup {
    .subtitle {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .content {
      padding-left: 10px;

      .setting {
        > span:first-child::before {
          content: "- ";
        }
      }
    }
  }
}
