.group {
  padding: 10px 14px;
  font-size: 0.9rem;
  border-radius: var(--config-border-radius);
  overflow: hidden;
  position: relative;
  flex: 1;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .noise,
  .blur {
    position: absolute; /* for noise and blur */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .noise {
    opacity: 0.2;
    background-color: var(--color-gray-300);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch '/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: cover;
  }

  .blur {
    backdrop-filter: blur(20px);
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      :global(.ant-input) {
        max-width: 150px;
      }
    }

    .subgroup {
      .subtitle {
        font-weight: 600;
        margin-bottom: 10px;
      }

      .content {
        padding-left: 10px;

        .box {
          > span:first-child::before {
            content: "- ";
          }
        }
      }
    }
  }
}
