#root {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

hr {
  margin: var(--spacing-2xs) 0;
}

b {
  font-weight: 600;
}

.ant-color-picker-trigger {
  min-width: 90px !important;
}

.ant-modal-body {
  max-height: 65vh !important;
  overflow-y: auto !important;
}

.ant-modal-content {
  padding: var(--spacing-m) var(--spacing-xl) !important;
}
