#root {
  width: 100%;
  height: 100%;
}

#splashscreen {
  will-change: contents;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-gray-50);
  transition: opacity 300ms linear;
  opacity: 1;

  &.hidden {
    display: none;
  }

  &.vanish {
    opacity: 0;
  }

  .splashscreen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

hr {
  margin: var(--spacing-2xs) 0;
}

b {
  font-weight: 600;
}

.ant-color-picker-trigger {
  min-width: 90px !important;
}

.ant-modal-body {
  max-height: 65vh !important;
  overflow-y: auto !important;
}

.ant-modal-content {
  padding: var(--spacing-m) var(--spacing-xl) !important;
}
