#root {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  width: 100vw;
}

#splashscreen {
  will-change: contents;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-gray-50);
  transition: opacity 300ms linear;
  opacity: 1;

  &.hidden {
    display: none;
  }

  &.vanish {
    opacity: 0;
  }

  .splashscreen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body {
  overflow: hidden;
}

hr {
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-500);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-600);
}

b {
  font-weight: 600;
}

.content {
  height: 100%;
  background: linear-gradient(217deg, var(--color-red-100), rgba(255, 0, 0, 0) 70%),
    linear-gradient(127deg, var(--color-blue-100), rgba(0, 0, 255, 0) 70%),
    linear-gradient(336deg, var(--color-cyan-100), rgba(0, 255, 0, 0) 70%);
  padding: 10px;
  overflow: auto;
}

.ant-select {
  min-width: 100px;
}

.ant-input {
  min-width: 90px;
}

.ant-color-picker-trigger {
  min-width: 90px !important;
}

.ant-modal-body {
  max-height: 65vh !important;
  overflow-y: auto !important;
}

.ant-modal-content {
  padding: 12px 24px !important;
}
