#root {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  width: 100vw;
}

#splashscreen {
  will-change: contents;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-gray-50);
  transition: opacity 300ms ease-out;
  opacity: 1;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    background: linear-gradient(217deg, var(--color-red-100), #0000 70%),
      linear-gradient(127deg, var(--color-blue-100), #0000 70%),
      linear-gradient(336deg, var(--color-cyan-100), #0000 70%);
  }

  &.hidden {
    display: none;
  }

  &.vanish {
    opacity: 0;
  }

  .splashscreen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translate(-50%, -50%);

    .splashscreen-logo {
      width: 100px;
    }

    .splashscreen-text {
      font-size: 5rem;
      line-height: 5rem;
      margin-top: -5px;
      text-wrap: nowrap;
    }
  }
}

body {
  overflow: hidden;
  cursor: default;

  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
  }
}

hr {
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-500);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-600);
}

b {
  font-weight: 600;
}

.content {
  height: 100%;
  background: linear-gradient(217deg, var(--color-red-100), rgba(255, 0, 0, 0) 70%),
    linear-gradient(127deg, var(--color-blue-100), rgba(0, 0, 255, 0) 70%),
    linear-gradient(336deg, var(--color-cyan-100), rgba(0, 255, 0, 0) 70%);
  padding: 10px;
  overflow: auto;
}

.ant-select {
  min-width: 100px;
}

.ant-input {
  min-width: 90px;
}

.ant-color-picker-trigger {
  min-width: 90px !important;
}

.ant-modal-body {
  max-height: 65vh !important;
  overflow-y: auto !important;
}

.ant-modal-content {
  padding: 12px 24px !important;
}
