:root {
  font-size: 100%;
  --main-typo: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary-color: var(--color-gray-900);
  --secondary-color: var(--color-gray-50);
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, image, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, em, pre {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-size: 1em;
  line-height: 1.4em;
  font-family: var(--main-typo);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1px solid;
  margin: 1em 0;
  opacity: 0.8;
  color: var(--color-gray-200);
}