@layer reset {
  :root {
    font-size: 100%;
    --main-typo: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --primary-color: var(--color-gray-900);
    --secondary-color: var(--color-gray-50);
  }

  *,
  *:after,
  *:before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-user-select: none;
    user-select: none;
  }

  img,
  image,
  picture,
  video,
  iframe,
  figure {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  a {
    display: block;
  }

  p a {
    display: inline;
  }

  li {
    list-style-type: none;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  strong,
  blockquote,
  i,
  b,
  em,
  pre {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }

  form,
  input,
  textarea,
  select,
  button,
  label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
  }

  table,
  tr,
  td {
    border-collapse: collapse;
    border-spacing: 0;
  }

  svg {
    width: 100%;
    display: block;
  }

  body {
    font-size: 1em;
    line-height: 1.4em;
    font-family: var(--main-typo);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  hr {
    border: 1px solid;
    margin: 1em 0;
    opacity: 0.8;
    color: var(--color-gray-200);
  }
}

/* Antd reset */
#root {
  .ant-popover {
    .ant-popover-inner {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }
  }

  .ant-dropdown-menu-submenu,
  .ant-dropdown-menu,
  .ant-menu {
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .ant-menu-item,
    .ant-dropdown-menu-item {
      padding: 10px;
      height: min-content;
      width: 100%;
      line-height: 12px;
      margin: 0;
      border-radius: 8px;
    }

    .ant-menu-item:not(.ant-menu-item-danger),
    .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-danger) {
      color: inherit;

      &:hover {
        backdrop-filter: brightness(0.6);
      }
    }

    .ant-menu-item-divider,
    .ant-dropdown-menu-item-divider {
      backdrop-filter: brightness(0.85);
    }

    .ant-dropdown-menu-submenu-title {
      color: inherit;
    }
  }
}
