.ft-bar {
  background-color: transparent;
}

.ft-bar-item {
  background-color: oklch(from var(--slu-std-bg-color) l c h / 0.95);
  border-radius: 10px;

  &.ft-bar-item-clickable:hover {
    background-color: oklch(from var(--slu-std-bg-light-color) l c h / 0.95);
  }
}
