.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.transfer {
  :global(.ant-transfer-list) {
    overflow: hidden;

    :global(.ant-transfer-list-header) {
      :global(.ant-transfer-list-header-selected) {
        display: none;
      }

      :global(.ant-transfer-list-header-title) {
        font-weight: 600;
        text-align: center;
      }
    }

    :global(.ant-transfer-list-body) {
      background-color: var(--color-gray-50);
      padding: 4px 8px;
    }
  }
}

.tagList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
    height: 20px;
    border-radius: 6px;
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
    font-size: 10px;
    line-height: 10px;
  }
}
