.roulette {
  position: relative;
  height: 100%;
  width: 100%;

  .backgrounds {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    > div {
      position: absolute;
      height: 100vh;
      width: 100vw;
    }
  }

  .items {
    --transition-mode: ease-in;
    --transition-time: 200ms;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 20;
    transition: transform var(--transition-time) var(--transition-mode);
    will-change: transform;

    .item {
      will-change: transform;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: top var(--transition-time) var(--transition-mode),
        left var(--transition-time) var(--transition-mode),
        transform var(--transition-time) var(--transition-mode);
    }
  }

  .drag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
    z-index: 50;
  }
}

.tooltip {
  position: fixed;
  transform: translate(-50%, -50%) !important;
  inset: 100px auto auto 50% !important;
}