.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 40px;
  grid-template-columns: 100%;
}

.newBtn {
  width: 100%;
  background-color: var(--color-green-600);
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

  &:hover {
    background-color: var(--color-green-700) !important;
  }
}

.actions {
  button {
    width: 100%;
  }
}

.table {
  :global(.ant-pagination-options) {
    display: none;
  }

  :global(.ant-empty) {
    margin: 119px;
  }

  :global(.ant-table-body) {
    :global(.ant-table-cell) {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  :global(.ant-pagination) {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
}

.editModal {
  :global(.ant-modal-body) {
    padding-right: 10px;
  }

  :global(.ant-select) {
    min-width: 150px;
  }
}

.footer {
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    width: 80px;
  }
}
