.group {
  padding: 10px 20px;
  border-radius: var(--config-border-radius);
  background-color: #5551;
  backdrop-filter: blur(10px);
  font-size: 0.9rem;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  > div {
    &:not(:last-child) {
      padding-bottom: 6px;
      margin-bottom: 6px;
      border-bottom: 1px solid #4444; /* sublime */
    }
  }

  .box {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subtitle {
    font-weight: 600;
  }

  .subgroup {
    padding-left: 10px;

    .box {
      > span::before {
        content: "- ";
      }
    }
  }
}
