%common {
  padding: 0.25em 0.5em;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

button[data-skin="transparent"] {
  @extend %common;

  &:hover {
    background-color: rgba(var(--system-accent-color-rgb), 0.2);
  }

  &:active {
    background-color: rgba(var(--system-accent-color-rgb), 0.4);
  }
}

button[data-skin="solid"] {
  @extend %common;
  background-color: var(--system-accent-color);

  &:hover {
    background-color: var(--system-accent-dark-color);
  }

  &:active {
    background-color: var(--system-accent-darker-color);
  }
}

button[data-skin="default"] {
  @extend %common;
  background-color: var(--color-gray-50);
  border: 1px solid var(--color-gray-300);

  &:hover {
    border: 1px solid var(--system-accent-color);
  }

  &:active {
    border: 1px solid var(--system-accent-dark-color);
  }
}
