/*
 * The idea with this feature of Shared styles over all widgets, is to provide a way to
 * reusable components and styles that can be used across all widgets.
 *
 * As example all bundled widgets related to popups uses these shared styles.
 *
 * By default we shouldn't touch global scopes like `body`, `button`, `input` etc.
 * Instead we use data attributes to target specific elements, and only if the developer
 * decides to use these shared components/styles in their widgets.
 */

@import "./inputs.scss";
@import "./buttons.scss";

// Accessibility Improvement
*:focus-visible {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--system-accent-color);
}

// standard scroll
* {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-400);
    border-radius: 8px;

    &:active {
      background-color: var(--color-gray-500);
    }
  }
}

// Standard for popover
body:has(.slu-standard-popover) {
  background-color: transparent;
  overflow: hidden;

  > #root,
  > #app {
    width: min-content;
    height: min-content;
    overflow: hidden; // disable margin collapse
  }
}

.slu-standard-popover {
  width: 300px;
  max-height: 700px;
  overflow: auto;

  padding: 10px;
  margin: 10px; // this margin will allow the box-shadow to be visible

  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  border-radius: 10px;

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
}

/* deprecated, being removed for v2.5 */
.sl-popup {
  &.sl-popup-open {
    animation: fade-in 0.1s linear;
  }

  &.sl-popup-closed {
    animation: fade-out 0.1s linear;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    display: block; /* this is important to correctly handle the out animation */
    opacity: 1;
  }
  to {
    display: none; /* this is important to correctly handle the out animation */
    opacity: 0;
  }
}
