input[type="range"] {
  appearance: none;
  width: 100%;
  position: relative;
  overflow: hidden;
}

input[type="range"][data-skin="flat"] {
  height: 1.5rem;
  border-radius: 8px;
  background: var(--color-gray-300);

  &::-webkit-slider-runnable-track {
    appearance: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    height: 0;
    box-shadow: -100vw 0 0 100vw var(--ui-color);
  }

  &[data-orientation="vertical"] {
    width: 1.5rem;
    height: 100%;
    writing-mode: vertical-lr;
    direction: rtl;

    &::-webkit-slider-thumb {
      box-shadow: 0 100vh 0 100vh var(--ui-color);
    }
  }
}

input[type="text"][data-skin="default"],
input[type="search"][data-skin="default"],
select[data-skin="default"] {
  width: 100%;
  padding: 4px 8px;

  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;

  font-size: 0.9rem;

  &:hover {
    border-color: var(--ui-hover-color);
  }

  &[data-error="true"] {
    border-color: var(--color-red-600);
  }

  &:read-only {
    background-color: var(--color-gray-100);
    cursor: default;
  }

  &:disabled {
    background-color: var(--color-gray-100);
    color: var(--color-gray-600);
    cursor: default;
  }
}

input[type="text"][data-skin="transparent"],
input[type="search"][data-skin="transparent"] {
  width: 100%;
  padding: 4px 8px;

  background-color: transparent;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 6px;

  font-size: 0.9rem;

  &:focus {
    /* background-color: var(--color-gray-50);
    border-color: var(--ui-hover-color); */
    outline: none;
  }

  &[data-error="true"] {
    border-color: var(--color-red-600);
  }

  &:read-only {
    background-color: transparent;
    cursor: default;
  }

  &:disabled {
    opacity: 0.8;
    background-color: transparent;
    cursor: default;
  }
}

input[type="checkbox"][data-skin="switch"] {
  $width: 36px;
  $height: 18px;

  appearance: none;
  position: relative;
  width: $width;
  height: $height;
  background-color: var(--color-gray-400);
  border-radius: $height / 2;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: $height - 4;
    height: $height - 4;
    border-radius: 50%;
    background-color: var(--color-gray-50);
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }

  &:checked {
    background-color: var(--ui-color);

    &::before {
      transform: translateX($width / 2);
    }
  }

  &:hover {
    &:not(:checked) {
      background-color: var(--color-gray-500);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

::picker(select) {
  appearance: base-select;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-gray-50);
  padding: 0.25rem;
}

select[data-skin="default"] {
  appearance: base-select;

  &::picker-icon {
    color: var(--color-gray-400);
    transition: transform 0.4s ease;
  }

  &:open::picker-icon {
    transform: rotate(180deg);
  }

  option {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: oklch(from var(--ui-color) l c h / 0.2);
    }

    &:checked {
      background-color: var(--ui-hover-color);
      color: var(--color-gray-100);
      font-weight: 600;
    }
  }
}
