input[type="range"] {
  appearance: none;
  width: 100%;
  position: relative;
  overflow: hidden;
}

input[type="range"][data-skin="flat"] {
  height: 1.5rem;
  border-radius: 0.5rem;
  background: var(--color-gray-300);

  &::-webkit-slider-runnable-track {
    appearance: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    height: 0;
    box-shadow: -100vw 0 0 100vw var(--ui-color);
  }

  &:hover {
    &::-webkit-slider-thumb {
      box-shadow: -100vw 0 0 100vw var(--ui-hover-color);
    }
  }
}

input[type="text"][data-skin="default"],
input[type="search"][data-skin="default"] {
  width: 100%;
  padding: 8px 12px;

  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;

  font-size: 0.9rem;

  &:focus {
    border-color: var(--ui-hover-color);
    outline: none;
  }

  &[data-error="true"] {
    border-color: var(--color-red-600);
  }

  &:read-only {
    background-color: var(--color-gray-100);
    cursor: default;
  }

  &:disabled {
    background-color: var(--color-gray-100);
    color: var(--color-gray-600);
    cursor: default;
  }
}

input[type="text"][data-skin="transparent"],
input[type="search"][data-skin="transparent"] {
  width: 100%;
  padding: 4px 8px;

  background-color: transparent;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 6px;

  font-size: 0.9rem;

  &:focus {
    background-color: var(--color-gray-50);
    border-color: var(--ui-hover-color);
    outline: none;
  }

  &[data-error="true"] {
    border-color: var(--color-red-600);
  }

  &:read-only {
    background-color: transparent;
    cursor: default;
  }

  &:disabled {
    opacity: 0.8;
    background-color: transparent;
    cursor: default;
  }
}

input[type="checkbox"][data-skin="switch"] {
  $width: 36px;
  $height: 18px;

  appearance: none;
  position: relative;
  width: $width;
  height: $height;
  background-color: var(--color-gray-400);
  border-radius: $height / 2;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: $height - 4;
    height: $height - 4;
    border-radius: 50%;
    background-color: var(--color-gray-50);
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }

  &:checked {
    background-color: var(--ui-color);

    &::before {
      transform: translateX($width / 2);
    }
  }

  &:hover {
    &:not(:checked) {
      background-color: var(--color-gray-500);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
