*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

#root {
  padding-top: calc(var(--config-padding) + var(--config-margin-top));
  padding-left: calc(var(--config-padding) + var(--config-margin-left));
  padding-right: calc(var(--config-padding) + var(--config-margin-right));
  padding-bottom: calc(var(--config-padding) + var(--config-margin-bottom));
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}