body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: transparent;
  opacity: 1;
  transition: opacity 300ms ease;
}

#root {
  padding-top: calc(var(--config-padding) + var(--config-margin-top));
  padding-left: calc(var(--config-padding) + var(--config-margin-left));
  padding-right: calc(var(--config-padding) + var(--config-margin-right));
  padding-bottom: calc(var(--config-padding) + var(--config-margin-bottom));
  height: 100%;
  width: 100%;
}
