.kindSelector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: var(--spacing-s);
  width: 100%;
  height: 100%;

  .kind {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    border: 2px solid var(--color-gray-300);
    border-radius: 8px;

    &:hover {
      background-color: var(--color-blue-100);
      border: 2px solid var(--color-blue-400);
      color: var(--color-blue-800);
    }

    .kindIcon {
      height: 25%;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-s);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  .reorderGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
  }

  .card {
    width: 100%;
    height: 120px;
    padding: var(--spacing-s);
    border-radius: 18px;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: var(--spacing-2xs) var(--spacing-s);

    background-color: var(--color-gray-50);

    /* &.warn {
      border: 1px solid var(--color-yellow-100);
    } */

    &.danger {
      background-color: var(--color-red-200);
      border: 1px solid var(--color-red-900);
      color: var(--color-red-1200);
    }

    .portrait {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      gap: var(--spacing-xs);

      .title {
        font-weight: 600;
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .actionsTop {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
      }
    }

    .body {
      overflow: auto;
      padding-right: var(--spacing-xs);
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--spacing-xs);
    }
  }
}

.portrait {
  background-color: var(--color-gray-200);
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  > video,
  > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .kindIcon {
    height: 50%;
  }

  .warning,
  .danger,
  .corrupted {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 20px;
  }

  .warning {
    color: var(--color-yellow-500);
    opacity: 0.6;
  }

  .danger {
    color: var(--color-red-900);
  }
}
