.group {
  flex: 1;
  background-color: light-dark(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.1));
  border-radius: var(--config-border-radius);
  padding: 10px 14px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .setting {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;

    :global(.ant-input) {
      max-width: 150px;
    }

    :global(.ant-slider) {
      margin: 0;
    }

    :global(.ant-slider-horizontal) {
      width: 100%;
    }

    .info {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;

      .label {
        gap: 5px;
        display: flex;
        align-items: center;
        font-weight: 600;
      }

      .description {
        color: var(--color-gray-600);
        font-size: 0.8rem;
        line-height: 1.4em;
      }
    }

    .action {
      grid-column: 2 / 3;
      width: 100%;
      min-width: 150px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 6px;
    }
  }

  .subgroup {
    .subtitle {
      margin-bottom: 10px;
      font-size: 1.1rem;
      line-height: 1.4em;
      font-weight: 600;
    }

    .content {
      padding-left: 10px;
      border-left: 1.5px solid light-dark(#0002, #fff2);

      .label {
        font-weight: normal;
      }
    }
  }

  :global(.ant-select) {
    min-width: 100px;
  }

  :global(.ant-input) {
    min-width: 90px;
  }
}
