.info {
  a {
    color: var(--color-blue-600);
    &:hover {
      color: var(--color-blue-800);
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-l);
    padding: 4rem 0;

    > img {
      object-fit: contain;
      width: 150px;
      aspect-ratio: 1/1;
    }

    figcaption {
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--color-black);
    }
  }

  .version {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-black);
  }
}

@media (prefers-color-scheme: dark) {
  .info .logo > img {
    filter: invert(1);
  }
}
