

.side-container, .center-container {
  display: flex;
  gap: var(--config-space-between-items);
  flex-direction: var(--config-by-position-flex-direction);
  align-items: var(--config-by-position-align-items);
  justify-content: var(--config-by-position-justify-content);
  position: relative;
}

.center-container {
  position: absolute;
  overflow: visible;

  .horizontal & {
    height: var(--config-item-size);
    left: 50%;
    transform: translateX(-50%);
  }

  .vertical & {
    width: var(--config-item-size);
    top: 50%;
    transform: translateY(-50%);
  }
}