.bar {
  position: relative;
  overflow: visible;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .group {
    display: flex;
  }

  .itemsContainer {
    z-index: 1;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &:not(:hover) {
      .item {
        transition-property: width, height, margin, filter; 
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }
    }

    &:hover {
      .item {
        &:not(:active) {
          transition-property: filter;
          transition-duration: 0.2s;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    filter: brightness(0.30);
  }

  >img {
    width: 65%;
    height: 65%;
    filter: drop-shadow(0px 0px 1px #0000009a);
  }
}