.bar {
  position: relative;
  overflow: visible;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .separator {
    width: 1px;
  }

  .itemsContainer {
    z-index: 1;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    height: 100%;
    gap: inherit;

    .itemsContainer {
      flex: 0;
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }
}

:global(#root) {
  &:not(:hover) {
    .item {
      transition-property: width, height, margin, filter;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }

  &:hover {
    .item {
      &:not(:active) {
        transition-property: filter;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }
    }
  }
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    filter: brightness(0.3);
  }

  > img {
    width: 65%;
    height: 65%;
    filter: drop-shadow(0px 0px 1px #0000009a);
  }
}

.previewContainer {
  position: relative;
  display: flex;
  max-width: 100vw;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .preview {
    z-index: 1;

    &:hover {
      filter: brightness(0.95);
      backdrop-filter: brightness(0.95);
    }

    .title {
      overflow: hidden;
      width: 240px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }
  
    .image {
      width: 240px;
      height: calc(240px / 1.77);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
