.media-control-volume {
  .ant-slider {
    flex: 1;
  }
}

.media-control {
  .media-control-sessions {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .media-session {
    position: relative;
    overflow: hidden;
  }

  .media-session-actions {
    .ant-btn {
      color: inherit !important;
    }
  }
}
