.media-control {
  .media-control-volume {
    .ant-slider {
      flex: 1;
    }
  }

  .media-control-sessions {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .media-session {
    position: relative;
    overflow: hidden;
  }

  .media-session-actions {
    .ant-btn {
      color: inherit !important;
    }
  }

  .media-session-thumbnail {
    z-index: 2;
  }

  .media-session-blurred-thumbnail {
    filter: blur(15px) brightness(125%) contrast(125%);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .media-device-group {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .media-device {
      display: grid;
      align-items: center;
      grid-template-columns: 50px 1fr;
      gap: 6px;
    }
  }
}
