.Header {
  height: 100%;
  border-bottom: 1px solid var(--color-gray-200);
  font-weight: 600;
  padding: 0 14px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}