.Header {
  height: 100%;
  border-bottom: 1px solid var(--color-gray-200);
  font-weight: 600;
  padding: 0 14px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: 10px;
  app-region: drag;

  button {
    app-region: no-drag;
  }

  .title {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    .part {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
